@import url(/assets/css/reset.css);

/*
  VARIABLES
*/
:root {
  /* Colors */
  --text-color-dark: #000;
  --text-color-medium: #666;
  --text-hover: #a5a2a5;
  --white-color: #fff;
  --gray-light-color: #f9f9f9;
  --gray-light-color-2: #e5e5e5;
  --gray-light-color-3: #d9d9d9;
  --gray-medium-color: #b3b3b3;

  /* Fonts & Typography */
  --font-primary: "Prompt", Helvetica, Arial, sans-serif;
  /* --font-primary:"M PLUS 2", sans-serif; */

  --font-size-bigger: 30px;
  --font-size-big: 21px;
  --font-size-normal: 16px;
  --font-size-small: 13px;
  --font-size-smaller: 11px;

  --line-height-bigger: 40px;
  --line-height-big: 30px;
  --line-height-normal: 26px;
  --line-height-small: 18px;
  --line-height-smaller: 16px;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-thin: 300;

  --letter-spacing: 1px;

  /* Lenth values */
  --max-width: 1280px;
  --header-height: 74px;
  --padding-inline: 24px;

  /* Other values */
  --transition-fast: ease-out 150ms;
  --transition-normal: ease-out 300ms;
  --transition-slow: ease-out 500ms;
}

/*
  BASE
*/
body {
  font-family: var(--font-primary);
  color: var(--text-color-dark);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

body.active {
  overflow: hidden;
}

html.show-switch-country {
  overflow: hidden;
}

.h1 {
  font-size: var(--font-size-bigger);
  line-height: var(--line-height-bigger);
  letter-spacing: var(--letter-spacing);
}

.h2 {
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
}

.h3 {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

/*
  HEADER
*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.navigation {
  background-color: var(--white-color);
}

.mobile__header {
  height: var(--header-height);
  padding-inline: var(--padding-inline);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__header.mobile-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mobile__header-burger {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.mobile__header-burger p {
  font-weight: var(--font-weight-thin);
}

.burger__icon {
  width: 23px;
  height: 13px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.burger__icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--text-color-dark);
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger__icon span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.burger__icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.burger__icon span:nth-child(3) {
  top: 12.5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.burger__icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 3px;
}

.burger__icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burger__icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 3px;
}

.mobile__header-logo a {
  display: flex;
  align-items: center;
  color: var(--text-color-dark);
  transition: color var(--transition-fast);
}

.mobile__header-logo {
  position: absolute;
  left: calc(50% - 45px);
}

.mobile__header-logo a:hover {
  color: var(--text-color-medium);
}

.mobile__header-search {
  display: flex;
  gap: 1rem;
}

.mobile__header-search .search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.search__button-close {
  display: none;
}

.search__input-container {
  position: absolute;
  /* padding: 18px; */
  /* top: -100%; */
  width: 100%;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  /* will-change: top; */
  transition: all var(--transition-fast);

  height: 0;
  overflow: hidden;
  top: var(--header-height);
  padding: 0;
  /* transition: height var(--transition-slow); */
  padding-block: 0;
}

.search__input-container.opened {
  /* top: var(--header-height); */
  z-index: -1;
  /* position: absolute; */
  height: auto;
  padding-block: 12px;
}


.search__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: var(--padding-inline);
}

.search__input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 6px 0;
  background-color: transparent;
  outline: 0;
}

.search__input input::placeholder {
  color: var(--gray-medium-color);
}

.country__switch-tablet {
  display: none;
}

.desktop__header {
  /* display: none; */
  position: relative;
  background-color: var(--gray-light-color);
  /* height: calc(100vh - var(--header-height)); */
  /* overflow-y: scroll; */
  padding-inline: 0;

  height: 0;
  transition: height var(--transition-normal);
  overflow: hidden;
  /* padding-block-end: 3rem; */
}

.desktop__header.active {
  height: calc(100vh - var(--header-height));
  /* display: block; */
  overflow-y: scroll;
}

.menu__wrapper {
  height: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: var(--padding-inline);
}

.navigation__list-item {
  border-bottom: 1px solid var(--gray-light-color-2);
}

.list__title {
  letter-spacing: 0.6px;
  padding-block: 18px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all var(--transition-fast);
}

.desktop__link {
  display: none;
}

.mobile__menu-arrow {
  display: block;
  transition: transform var(--transition-fast);
  position: relative;
}

.desktop__header-search {
  display: none;
}

.subnav {
  /* display: none; */

  /* transition: height var(--transition-slow); */
  transition: all var(--transition-fast);
  height: 0;
  /* position: relative; */
  overflow: hidden;
  padding-block: 0;
}

.navigation__list-item.show-subnav .subnav {
  /* display: block; */

  height: auto;
  padding-block: 5px;
}

.navigation__list-item.show-subnav .mobile__menu-arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.navigation__list-item.show-subnav .list__title a {
  font-weight: var(--font-weight-semibold);
}

.subnav__wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 10px;
}

.subnav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: var(--font-weight-thin);
}

.subnav__list-item {
  padding-block: 6px 12px;
}

.subnav__desktop-link {
  display: none;
}

.country__switch-mobile {
  margin: 2rem 1rem 0 1rem;
  padding-block-end: 2rem;
  border-block-end: 1px solid transparent;
}

.country__switch-mobile > button {
  border: 1px solid var(--text-hover);
  width: 100%;
  padding: 1rem;
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.country__switch-mobile > button img {
  width: 26px;
}

.country__switch-mobile > button p:first-of-type {
  font-size: var(--font-size-smaller);
  line-height: var(--line-height-smaller);
  color: var(--gray-medium-color);
}

.country__switch-mobile > button p:last-of-type {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

/* body overlay */
.overlay__body {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
}

.overlay__body.active {
  position: fixed;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}

/*
  MAIN
*/
main {
  height: 2000px;
  background-color: aquamarine;
  margin-block-start: var(--header-height);
}

/* switch country */
.switch__country {
  height: 0;
  width: 100%;
  display: none;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: 97;
}

.switch__country.active {
  position: fixed;
  height: calc(100vh - var(--header-height));
  display: block;
  overflow-y: auto;
}

.section__country-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem var(--padding-inline);
}

.switch__country-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-normal);
}

.switch__country-text form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.switch__country-text label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.switch__country-text input {
  width: 100%;
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 12px 0;
  background-color: transparent;
  outline: 0;
}

.switch__country-text button {
  width: 100%;
  padding: 1rem;
  background-color: var(--gray-light-color-3);
  color: var(--white-color);
  font-size: initial;
  cursor: not-allowed;
}

.switch__country-close {
  margin-block-start: 3rem;
}

.close__circle {
  transform: rotate(45deg);
}

/*
  FOOTER
*/

/*
  MEDIA QUERIES
*/
@media screen and (min-width: 768px) {
  :root {
    --font-size-big: 24px;
    --line-height-big: 36px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 60px;
  }

  .country__switch-tablet {
    display: inline-block;
  }

  .desktop__header {
    overflow: hidden;
    background-color: transparent;
    /* height: calc(100vh - var(--header-height)); */
    position: absolute;
    width: 100vw;

    height: 0;
  }

  .menu__wrapper {
    background-color: var(--white-color);
    height: fit-content;
  }

  .navigation__list {
    flex-direction: row;
    height: var(--header-height);
  }

  .navigation__list-item {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .country__switch-mobile {
    display: none;
  }

  .subnav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    height: var(--header-height);
    background-color: var(--gray-light-color);
  }

  .subnav__list {
    flex-direction: row;
  }

  .subnav__mobile-link {
    display: none;
  }

  .subnav__desktop-link {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  header {
    height: var(--header-height);
  }

  .navigation {
    height: 100%;
  }

  .mobile__header {
    display: none;
  }

  .desktop__header {
    display: block;

    height: calc(100vh - var(--header-height));
  }

  .menu__wrapper {
    width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation__list {
    display: flex;
    gap: 1rem;
  }

  .mobile__link {
    display: none;
  }

  .desktop__link {
    display: block;
  }

  .desktop__header-search {
    display: flex;
    gap: 1rem;
  }

  .search__desktop-container {
    display: flex;
    gap: 1rem;
  }

  .search__desktop-input-wrapper {
    position: relative;
  }

  .search__desktop-input {
    position: absolute;
    right: 0;
    width: 0;
  }

  .search__desktop-input.expanded {
    width: 960px;
  }

  .country__switch-mobile {
    display: none;
  }

  .subnav {
    height: var(--header-height);
    top: var(--header-height);
    background-color: var(--gray-light-color);
  }

  .subnav__wrapper {
    height: 100%;
    background-color: inherit;
  }

  .subnav__list {
    height: 100%;
  }
}
