@import url(/assets/css/reset.css);

/*
  VARIABLES
*/
:root {
  /* Colors */
  --text-color-dark: #000;
  --text-color-medium: #666;
  --text-hover: #a5a2a5;
  --white-color: #fff;
  --gray-light-color: #f9f9f9;
  --gray-medium-color: #b3b3b3;

  /* Fonts & Typography */
  --font-primary: "Prompt", Helvetica, Arial, sans-serif;
  /* --font-primary:"M PLUS 2", sans-serif; */

  --font-size-bigger: 30px;
  --font-size-big: 21px;
  --font-size-normal: 16px;
  --font-size-small: 13px;
  --font-size-smaller: 11px;

  --line-height-bigger: 40px;
  --line-height-big: 30px;
  --line-height-normal: 26px;
  --line-height-small: 18px;
  --line-height-smaller: 16px;

  --font-weight-bold: 700;
  --font-weight-normal: 400;

  /* Lenth values */
  --max-width: 1280px;
  --header-height: 74px;
  --padding-inline: 24px;
}

/*
  BASE
*/
body {
  font-family: var(--font-primary);
  color: var(--text-color-dark);
}

body.active {
  overflow: hidden;
}

/*
  HEADER
*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  z-index: 99;
  /* height: fit-content; */
}

.navigation {
  background-color: var(--white-color);
  /* height: var(--header-height); */
  /* position: relative; */
}

.mobile__header {
  height: var(--header-height);
  padding-inline: var(--padding-inline);
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__header-burger {
  cursor: pointer;
}

.mobile__header-search {
  display: flex;
  gap: 1rem;
}

.search__input-container {
  position: absolute;
  top: -50%;
  width: 100%;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  will-change: top;
}

.search__input-container.opened {
  top: var(--header-height);
}

.search__input {
  display: flex;
}

.country__switch-tablet {
  display: none;
}

.desktop__header {
  display: none;
  height: calc(100vh - var(--header-height));
  position: relative;
  overflow-y: scroll;
  background-color: var(--gray-light-color);
}

.desktop__header.active {
  display: block;
}

.menu__wrapper {
  height: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desktop__link {
  display: none;
}

.desktop__header-search {
  display: none;
}

.subnav {
  display: none;
}

.navigation__list-item.show-subnav .subnav {
  display: block;
}

.subnav__wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
}

.subnav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8em;
  padding-inline-start: 1rem;
}

.subnav__desktop-link {
  display: none;
}

/* body overlay */
.overlay__body {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
}

.overlay__body.active {
  position: fixed;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}

/*
  MAIN
*/
main {
  height: 2000px;
  background-color: aquamarine;
  margin-block-start: var(--header-height);
}

/*
  FOOTER
*/

/*
  MEDIA QUERIES
*/
@media screen and (min-width: 768px) {
  :root {
    --font-size-big: 24px;
    --line-height-big: 36px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 60px;
  }

  .country__switch-tablet {
    display: inline-block;
  }

  .desktop__header {
    overflow: hidden;
    background-color: transparent;
    height: calc(100vh - var(--header-height));
    position: absolute;
    width: 100vw;
  }

  .menu__wrapper {
    background-color: var(--white-color);
    height: fit-content;
  }

  .navigation__list {
    flex-direction: row;
    height: var(--header-height);
  }

  .navigation__list-item {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .country__switch-mobile {
    display: none;
  }

  .subnav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    height: var(--header-height);
    background-color: var(--gray-light-color);
  }

  .subnav__list {
    flex-direction: row;
  }

  .subnav__mobile-link {
    display: none;
  }

  .subnav__desktop-link {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  header {
    height: var(--header-height);
  }

  .navigation {
    height: 100%;
  }

  .mobile__header {
    display: none;
  }

  .desktop__header {
    display: block;
  }

  .menu__wrapper {
    width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation__list {
    display: flex;
    gap: 1rem;
  }

  .mobile__link {
    display: none;
  }

  .desktop__link {
    display: block;
  }

  .desktop__header-search {
    display: flex;
    gap: 1rem;
  }

  .search__desktop-container {
    display: flex;
    gap: 1rem;
  }

  .search__desktop-input-wrapper {
    position: relative;
  }

  .search__desktop-input {
    position: absolute;
    right: 0;
    width: 0;
  }

  .search__desktop-input.expanded {
    width: 960px;
  }

  .country__switch-mobile {
    display: none;
  }

  .subnav {
    height: var(--header-height);
    top: var(--header-height);
    background-color: var(--gray-light-color);
  }

  .subnav__wrapper {
    height: 100%;
    background-color: inherit;
  }

  .subnav__list {
    height: 100%;
  }
}
